@import "variables";
.coin-card {
    @include card-style;
    padding: 20px 20px 0;
    &:hover {
        @include card-hover;
    }
    &__img {
        display: flex;
        justify-content: center;
        margin: 0 -2px;
        background-color: #fff;
        &-item {
            padding: 0 2px;
            img {
                width: 100%;
                height: 100%;
                max-width: 165px;
                max-height: 165px;
                object-fit: contain;
            }
        }
        .two-imgs &-item {
            img {
                max-width: 148px;
                max-height: 148px;
            }
        }
        .big-img &-item {
            img {
                max-width: 100%;
                max-height: 145px;
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0;
    }
    &__title{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $dark-color;
    }
    &__desc{
        margin: 10px 0 25px 0;
        font-size: 14px;
        line-height: 20px;
    }
    .two-imgs &__desc,
    .big-img &__desc{
        margin: 10px 0 15px 0;
    }
    &__desc  + &__title {
        margin: 5px 0 15px 0;
    }
    &__img + &__desc {
        margin: 20px 0 0 0;
    }
    &__info{
        margin: auto 0 0 0;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 45px;
            @include list-border;
            &.bg-color {
                background-color: $main-color;
                margin: 0 -20px;
                padding: 0 20px;
                border-radius: 0 0 $bdrs-6 $bdrs-6;
                .left,
                .right {
                    color: #fff;
                }
                .left {
                    font-weight: 600;
                }

            }
            .left,
            .right {
                font-size: 15px;
                line-height: 20px;
                color: $dark-color;
            }

            .left {
                padding: 0 15px 0 0;
            }
            .right {
                font-weight: 600;
                letter-spacing: 0.1px;
                &.pass {
                    width: 30px;
                    text-align: center;
                    line-height: 30px;
                    color: #fff;
                    border-radius: 50%;
                    background-color: $gray-color;
                    &.active {
                        background-color: $main-color;
                    }
                }
                &.with-helper {
                    display: flex;
                    align-items: center;
                    .helper {
                        margin: 0 0 0 5px;
                        &__btn {
                            fill: #dadada;
                            &.open,
                            &:hover{
                                fill: $active-color
                            }
                        }
                    }
                }
            }

        }
    }
    &.current {
        position: relative;
        &:before {
            content: 'Текущая';
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 5px 10px;
            background-color: rgba(23, 35, 69, .5);
            border-radius: $bdrs-4;
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
            letter-spacing: 0.1px;
            color: #FFF;
        }
    }
}
@media (min-width: 1300px) {
    .coin-card {
        &.card-horizontal {
            flex-direction: row;
            align-items: center;
            padding: 30px 25px;
        }
        &__img {
            .card-horizontal &-item {
                img {
                    max-width: 100%;
                    max-height: 100%;
                    min-width: 230px;
                    min-height: 230px;
                }
            }
        }
        .card-horizontal &__text {
            width: 100%;
            margin: 0 0 0 25px;
        }
    }

}
@media (min-width: 1540px) {
    .coin-card {
        &.card-horizontal {
            padding: 30px;
        }
        &__img {
            .card-horizontal &-item {
                img {
                    min-width: 240px;
                    min-height: 240px;
                }
            }
        }
        .card-horizontal &__text {
            margin: 0 0 0 40px;
        }
    }

}




