@import "variables";

header {
    position: relative;
    font-size: 16px;
    line-height: 21px;
    z-index: 12;
}
.header{
    background-color: #fff;
    position: relative;
    &__wrap {
        display: flex;
        align-items: center;
        height: $height-hd;

    }
    &__logo {
        a {
            display: block;
        }
        svg {
            width: 140px;
            height: 40px;
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 0 0 40px;
        padding: 0 30px 0 40px;

        a {
            font-family: 'PT Root UI';
            color: $dark-color;
            cursor: pointer;
        }
        .no-touch &:hover,
        &.open {
            & > a {
                font-weight: 700;
                &.open .menu-mob {
                    .btn-wrap {
                        & > * {
                            left: 2px;
                            width: 24px;
                            top: 50%;
                            transition: top 0.2s ease-in-out, left 0.2s ease-in-out, opacity 0s 0.2s, width 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0.2s;
                        }
                        .top {
                            transform: rotate(45deg);
                        }
                        .bottom {
                            transform: rotate(-45deg);
                        }
                        .middle {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        .menu-mob {
            display: none;
            width: 40px;
            min-width: 40px;
            height: 40px;
            margin: 0 0 0 auto;
            .btn-wrap {
                margin: auto;
                width: 30px;
                height: 14px;
                position: relative;
                & > * {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    border-radius: $bdrs-4;
                    background-color: $dark-color;
                    margin-top: -1px;
                    transition: opacity 0s 0.2s, top 0.2s ease-in-out 0.2s, left 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out;
                    transform-origin: 50% 50%;
                }
                .top {
                    top: 0;
                }
                .middle {
                    top: 50%;
                }
                .bottom {
                    top: 100%;
                }
                .top,
                .bottom {
                    transform: rotate(0deg);
                }
                .middle {
                    opacity: 1;
                }
            }
            .close {
                display: none;
            }
        }
    }
    &__finder {
        position: relative;
        width: 480px;
        &.mob {
            display: none;
            align-items: center;
            justify-content: center;
            width: 40px;
            margin: 0 5px 0 auto;
        }
        &-animate {
            position: fixed;
            background-color: #fff;
            z-index: 12;
            width: 100vw;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            &.open {
                visibility: visible;
                opacity: 1;
            }




        }
        &-wrap {
            display: flex;
            align-items: center;
            height: $height-mob;
            & > * {
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }
            .open & > * {
                opacity: 1;
                transition: opacity .3s ease-in-out;
            }
            & > svg {
                width: 20px;
                min-width: 20px;
                height: 20px;
                fill: #D4D3D3;
            }
            .close-icon {
                width: 40px;
                min-width: 40px;
                height: 40px;
                padding: 11px;
            }
            .find-icon {
                fill: $dark-color;
            }
            input {
                width: 100%;
                margin: 0 15px;
            }

        }
    }
    &__link {
        font-family: 'PT Root UI';
        margin: 0 0 0 auto;
        cursor: pointer;
        position: relative;
        @include hover-link($dark-color);
    }
    &__currency,
    &__lang{
        margin: 0 0 0 40px;
        &-list {
            left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
            li {
                & > * {
                    display: block;
                    padding: 0 20px;
                    line-height: 45px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            li + li {
                box-shadow: inset 0 1px 0 #EDEDED;
            }
        }
    }
    &__currency,
    &__lang{
        &-list {
            border-radius: $bdrs-6;
        }
        &-btn {
            &.open,
            &:not(.open):hover{
                font-weight: bold;
            }
        }
    }
    &__currency{
        &-list {
            width: 75px;
        }
    }
    .open + &__currency,
    .open + &__lang{
        &-list {
            border-top: 1px solid $dropdown-bd-color;
        }
    }
    &__lang{
        &-list {
            width: 105px;
            li {
                & > * {
                    position: relative;
                    padding-left: 45px;
                     .header__lang-flag{
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        &-btn {
            padding-left: 25px;
        }
        &-flag {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            img {
                height: 100%;
            }
        }
    }
    &__catalog {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        transform: translateY(-150%);
        will-change: transform;
        //transition: transform .45s;
        &.close {
            visibility: hidden;
            opacity: 0;
        }
        &-wrap {
            position: relative;
            display: flex;
            min-height: 520px;
            background-color: #fff;
            box-shadow: none;
            transition: box-shadow 0.3s;
            border-bottom-right-radius: $bdrs-6;
            border-bottom-left-radius: $bdrs-6;
            overflow: hidden;
        }
        &-content,
        &-subcontent {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            &.open {
                position: relative;
                visibility: visible;
                opacity: 1;
            }
        }
        &-title {
            font-family: 'PT Root UI';
            display: block;
            position: relative;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #9595AF;
            padding: 0 0 13px 0;
            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #EDEDED;
            }
            &.mob {
                display: none;
            }
        }
        &-continents &-title {
            &:before {
                background-color: #616188;
            }
        }
        &-countries &-subcontent &-title,
        &-countries  &-title.mob {
            cursor: pointer;
            padding-left: 30px;
            position: relative;
        }
        &-countries &-subcontent &-title {
            color: $main-color;
            text-align: center;
            &:hover {
                font-weight: 700;
            }
        }
        &-list li > *.sublist:after,
        &-countries &-subcontent &-title:after,
        &-countries  &-title.mob:after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.76433 15L7 14.1971L11.5096 9.5L7 4.80292L7.76433 4L13 9.5L7.76433 15Z' fill='%23a8a8a8'/%3E%3C/svg%3E%0A");
        }
        &-countries &-subcontent &-title:after,
        &-countries  &-title.mob:after{
            left: 0;
            top: -2px;
            transform: rotate(-180deg);
        }
        &-list {
            position: relative;
            margin: 20px 0 0 0;
            li {
                display: block;
                & > * {
                    font-family: 'PT Root UI';
                    display: inline-block;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    position: relative;
                    padding: 10px 0;
                    transform: translateZ(1px);
                    &.sublist {
                        cursor: pointer;
                        position: relative;
                        margin: 0 25px 0 0;
                        font-size: 15px;
                        &:after {
                            top: 10px;
                            right: -25px;
                        }
                    }
                    @include hover-link(#fff);
                }
            }
        }
        &-continents &-list {
            &:before {
                background-color: #fff;
            }
            & * {
                color: #fff;
            }
        }
        &-continents &-title,
        &-continents &-list {
            min-width: 220px;
        }
        &-countries &-title,
        &-countries &-list {
            max-width: 680px;
        }
        &-links {
            max-height: 384px;
            overflow-y: auto;
        }
        &-countries &-list {
            columns: 3;
            -webkit-column-gap: 40px;
            -moz-column-gap: 40px;
            column-gap: 40px;
            li {
                & > * {
                    font-size: 15px;
                    @include hover-link($dark-color);
                }
            }
        }
        &-continents {
            padding: 45px 40px 40px;
        }
        &-continents {
            background-color: $dark-color;
        }
        &-countries {
            width: 100%;
            padding: 45px 40px 80px 60px;
        }
    }
    .no-touch &__menu:hover &__catalog,
    &__catalog.open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: transform .3s ease-in-out;
    }
    .no-touch &__menu:hover &__catalog-wrap,
    &__catalog.open &__catalog-wrap {
        box-shadow: inset 0 1px 0 0 #EDEDED,
        0 100px 80px rgba(0, 0, 0, 0.07),
        0 40px 33px rgba(0, 0, 0, 0.05),
        0 22px 17px rgba(0, 0, 0, 0.04),
        0 12px 10px rgba(0, 0, 0, 0.03),
        0 6px 5px rgba(0, 0, 0, 0.02),
        0 2px 2px rgba(0, 0, 0, 0.02);
    }

}

.mob-finder-open header {
    z-index: 10;
}
.menu-open header{
    z-index: 15;
}



@media (min-width: 960px) {
    .header__catalog .container {
        width: auto;
        padding: 0;
        margin: 0;
    }
}
@media (max-width: 1299px) {
    .header__menu {
        margin: 0;
        padding: 0 20px 0 40px;
    }
    .header__finder {
        width: 340px;
    }
    .header__currency, .header__lang {
        margin: 0 0 0 20px;
    }
    .header__catalog-countries {
        width: 100%;
        padding: 45px 45px 80px 45px;
    }
    .header__catalog-countries .header__catalog-list {
        max-width: 100%;
        columns: 2;
    }
    .header__catalog-countries .header__catalog-title{
        max-width: 100%;
    }
    .header__catalog-countries .header__catalog-links {
        max-height: 460px;
        overflow-y: auto;
    }
}

@media (max-width: 959px) {
    .header__wrap {
        height: $height-mob;
    }
    .header__logo svg {
        width: 105px;
        height: 30px;
    }
    .header__link, .header__currency, .header__lang {
        display: none;
    }
    .header__menu {
        order: 1;
        margin: 0 0 0 auto;
        padding: 0;
    }
    .header__menu-mob {
        display: flex;
    }

    .header__finder,
    .header__menu .menu-desctop {
        display: none;
    }
    .header__finder.mob {
        display: flex;
    }
    .header__menu {
        margin: 0;
    }
    .header__menu .menu-mob {
        display: flex;
    }










    .header__catalog{
        position: fixed;
        height: 100%;
        top: 60px;
        left: 0;
        padding: 0;
        width: 100%;
    }

    .header__catalog .container {
        height: inherit;
        width: 100%;
        max-width: 780px;
        padding: 0;
    }
    .header__catalog-continents .header__catalog-title,
    .header__catalog-continents .header__catalog-list {
        min-width: auto;
    }
    .header__catalog-wrap {
        box-shadow: none;
        min-height: auto;
        height: 100%;
        max-height: calc(100% - 60px);
        border-radius: 0;
    }
    .header__catalog-continents,
    .header__catalog-countries {
        width: 100%;
        height: 100%;
    }
    .header__catalog-content {
        position: relative;
    }
    .header__catalog-content,
    .header__catalog-subcontent {
        padding: 45px 40px 40px;
        width: 100%;
        height: 100%;
        visibility: visible;
        opacity: 1;
        box-shadow: inset 0 1px 0 0 #EDEDED;
        background-color: #fff;
    }
    .header__catalog-subcontent {
        top: 0;
        left: 0;
        &.open {
            position: absolute;
            transition: left .3s ease-in-out;
        }
    }

    .header__catalog-countries, .header__catalog-subcontent {
        transform: translate3d(-100%, 0, 0);
        transition: transform .25s ease-in-out;
        &.open {
            transform: translate3d(0, 0, 0);
            transition: transform .25s ease-in-out;
        }
    }
    .header__catalog-countries {
        padding: 0;
        position: absolute;
    }
    .header__catalog-countries .header__catalog-content .header__catalog-title {
        display: none;
        &.mob {
            display: block;
        }
    }
    .header__catalog-list,
    .header__catalog-countries .header__catalog-links{
        max-height: calc(100% - 50px);
        overflow-y: auto;
    }
    .header__catalog-countries .header__catalog-list {
        max-width: 100%;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
    }

}

@media (max-width: 779px) {


}

@media (max-width: 639px) {

}

@media (max-width: 479px) {
    .header__catalog-countries .header__catalog-list {
        columns: 1;
    }
}
