@import "variables";
.fast-find,
.statistic {
    width: 530px;
    background: #fff;
    box-shadow: inset 0 0 0 6px #EDEDED,
                0 22px 31px rgba(0, 0, 0, 0.07),
                0 3px 4px rgba(0, 0, 0, 0.035);
    border-radius: $bdrs-6;
}
.fast-find{
    padding: 70px 50px;
    &__title {
        display: block;
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 0.2px;
        color: $dark-color;
        margin: 0 0 30px 0;
    }
    &__form {
        input {
            display: none;
        }
        &-item {
            & > span {
                display: block;
                position: relative;
                margin-bottom: 10px;
                font-size: 18px;
                line-height: 25px;
                font-weight: 500;
                letter-spacing: 0.2px;
                color: $dark-color;
                &:before {
                    content: '1';
                    position: absolute;
                    top: 50%;
                    left: -50px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    transform: translate3d(0, -50%, 0);
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: 0.2px;
                    color: #FFFFFF;
                    background-color: $main-color;
                }
            }
            &.disabled  > span:before {
                background-color: #D4D3D3;
            }
            & > span,
            & > .select-style {
                margin-left: 50px;
            }
            &.disabled {
                pointer-events: none;
            }
        }
        &-item + &-item {
            & > span {
                &:before {
                    content: '2';
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 60px;
                    background-color:$main-color;
                    top: -72px;
                    left: -36px;
                }
            }
        }
        &-item + &-item.disabled > span:after{
            background-color: #EDEDED;
        }
        &-item + &-item,
        &-btn {
            margin: 30px 0 0 0;
        }
        &-btn {
            width: 100%;
        }
    }
}
.statistic {
    padding: 40px 45px ;
    &__list {
        font-size: 15px;
        line-height: 20px;
        color: $main-color;
        &-item {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            box-shadow: inset 0 -1px 0 0 #EDEDED;
            .right {
                font-weight: 500;
                letter-spacing: 0.2px;
            }
        }
    }
}

.main-page {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    &__content {
        height: 1160px;
        display: flex;
        flex-direction: column;
        padding: 200px 0 0 0;
    }
    &__wrap {
        display: grid;
        grid-template-areas:
                "title form"
                "statistic form";
        align-items: start;

    }
    &__title {
        grid-area: title;
        & > * {
            display: block;
            letter-spacing: 0.1px;
            color: #FFE5B1;
        }
        .title {
            font-size: 100px;
            line-height: 121px;
        }
        .desc {
            margin: 10px 0 0 5px;
            font-size: 32px;
            line-height: 45px;
        }
    }
    &__form {
        grid-area: form;
        justify-self: end;
    }
    &__statistic {
        grid-area: statistic;
        align-self: end;
    }
    &__cookies {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 839px;
        margin: auto auto 30px;
        padding: 20px;
        background: #fff;
        border-radius: $bdrs-6;
        p{
            font-size: 12px;
            line-height: 17px;
            color: $main-color;
        }
        .btn-style {
            flex-grow: 1;
            margin: 0 0 0 20px;
            border-radius: 4px;
            font-size: 12px;
            line-height: 30px;

        }
    }
}

@media (max-width: 1299px) {
    .main-page {
        &__content {
            height: 932px;
            padding: 150px 0 0 0;
        }
        &__title {
            grid-area: title;
            .title {
                font-size: 80px;
                line-height: 97px;
            }
            .desc {
                font-size: 28px;
                line-height: 39px;
            }
        }
    }
    .fast-find {
        width: 450px;
    }
    .statistic {
        width: 370px;
    }
}

@media (max-width: 959px) {
    .main-page {
        background-position: 23% 100%;
        &__content {
            height: 1498px;
            padding: 100px 0 0 0;
        }
        &__wrap {
            grid-template-areas:
                "title"
                "form"
                "statistic";
            justify-content: center;
        }
        &__title {
            text-align: center;
        }
        &__form {
            margin: 80px 0 0 0;
        }
        &__statistic {
            margin: 50px 0 0 0;
        }
        &__cookies {
            flex-direction: column;
            padding: 15px 20px;
            p {
                text-align: center;
            }
            .btn-style {
                margin: 10px 0 0 0;
                width: 100%;
                max-width: 360px;

            }
        }
    }
    .fast-find,
    .statistic {
        width: 530px;
    }
}

@media (max-width: 779px) {
}

@media (max-width: 639px) {
    .main-page {
        background-position: 50% 100%;
        &__content {
            height: 1431px;
        }
        &__wrap {
            justify-content: stretch;
            & > * {
                width: 100%;
            }
        }
        &__title {
            grid-area: title;
            .title {
                font-size: 70px;
                line-height: 85px;
                letter-spacing: 0.4px;
            }
            .desc {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
    .fast-find,
    .statistic {
        width: 100%;
    }
    .fast-find {
        padding: 40px 20px;
        &__title {
            font-size: 26px;
            line-height: 36px;
            letter-spacing: 0.1px;
            margin: 0 0 20px 0;
        }
        &__form {
            &-item {
                & > span {
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.1px;
                }
            }
            &-btn {
                margin: 25px 0 0 0;
            }
        }
    }
    .statistic {
        padding: 40px 30px;
    }

}

@media (max-width: 359px) {
    .main-page {
        &__title {
            .title {
                font-size: 60px;
                line-height: 68px;
            }
            .desc {
                font-size: 22px;
                line-height: 30px;
            }
        }
    }
    .fast-find {
        &__title {
            font-size: 22px;
            line-height: 32px;
        }
        &__form {
            &-item {
            }
        }
    }
    .fast-find,
    .statistic {
        padding: 20px;
    }
    .statistic__list {
        font-size: 13px;
    }
    .fast-find__form-item > span,
    .fast-find__form-item > .select-style {
        margin-left: 35px;
    }
    .fast-find__form-item > span:before {
        left: -40px;
    }
    .fast-find__form-item + .fast-find__form-item > span:after {
        left: -26px;
    }
}
