<a href="#" class="coin-card">
	<div class="coin-card__img">
		<div class="coin-card__img-item">
			<img src="img/webp/coin-most-expensive.webp" alt="coin">
		</div>
	</div>
	<div class="coin-card__text">
		<span class="coin-card__title text-medium">
			Рубль "Петербургский тип" 1856-1859
		</span>
		<span class="coin-card__desc">
			Хвост орла широкий. Корона закрытая. Крест державы простой
		</span>
		<ul class="coin-card__info">
			<li>
				<span class="left">Средняя цена</span>
				<span class="right">5000 $</span>
			</li>
		</ul>
	</div>
</a>