<div class="finder__wrap js-finder-wrap">
	<div class="finder__input">
		<input class="js-finder-input" type="text" placeholder="Поиск по каталогу">
		<a href="#" class="finder__sort">
			<svg class="finder__sort-icon">
				<use xlink:href="img/sprite-mono.svg#settings"></use>
			</svg>
		</a>
		<span class="finder__cleaner js-finder-clean">
			<svg class="finder__cleaner-icon">
				<use xlink:href="img/sprite-mono.svg#close"></use>
			</svg>
		</span>

	</div>
	<a href="#" class="finder__btn">
		<svg class="finder__btn-icon">
			<use xlink:href="img/sprite-mono.svg#search"></use>
		</svg>
	</a>
</div>