<span class="btn-style">Связаться с нами</span>

<br><br><br>
<hr>



<div class="coin-card gallery">
	<div class="coin-card__img big-img">
		<div class="coin-card__hover">
			<div class="coin-card__hover-after">
				<span class="marker"></span>
			</div>
			<div class="coin-card__hover-before">
				<span class="marker"></span>
			</div>
		</div>
		<a class="coin-card__img-item js-photoswipe" href="img/coin-most-expensive.png" data-fancybox-group="gallery" title="" alt="most expensive coin">
			<img src="img/coin-most-expensive.png">
		</a>
		<a class="coin-card__img-item js-photoswipe" href="img/coin-most-expensive.png" data-fancybox-group="gallery" title="" alt="most expensive coin">
			<img src="img/coin-most-expensive.png">
		</a>
	</div>
	<span class="coin-card__title">
		200 złotych 1995 Międzynaro
	</span>
	<span class="coin-card__desc">
		200 złotych 1995
	</span>
	<ul class="coin-card__info">
		<li>
			<span class="left">Тираж</span>
			<span class="right">55644008</span>
		</li>
		<li>
			<span class="left">Средняя цена</span>
			<span class="right">5000 $</span>
		</li>
		<li>
			<span class="left">Проходы</span>
			<span class="right pass active">0</span>
		</li>
	</ul>
</div>

