<div class="stamping js-stamping-wrap">
	<div class="stamping__wrap">
		<div class="stamping__flag">
			<img src="img/webp/flag.webp" alt="flag">
		</div>
		<div class="stamping__country">
			<span class="stamping__country-text text-medium">Великобритания</span>
			<span class="stamping__country-year dropdown">
				<span class="text-gray">Год чеканки: </span>
				<span class="stamping__country-btn js-stamping-btn">
					2020-2020
					<svg>
					    <use xlink:href="img/sprite-mono.svg#arrow-down"></use>
					</svg>
				</span>
			</span>

		</div>
	</div>
	<div class="stamping__find js-stamping-list">
		<div class="stamping__find-wrap">
			<div class="stamping__find-input">
				<svg>
					<use xlink:href="img/sprite-mono.svg#search"></use>
				</svg>
				<input type="text" placeholder="Поиск">
			</div>
		</div>
		<ul class="stamping__find-list">
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
			<li><a href="#">1835</a></li>
		</ul>
	</div>
</div>

<script>
	$('.js-stamping-btn').on('click', function () {
		if($(this).hasClass('open')) {
			$(this).removeClass('open');
			$('.js-stamping-list').slideUp(200, 'linear');
		}
		else {
			close_all()
			$(this).addClass('open');
			$('.js-stamping-list').slideDown(200, 'linear');
		}
	})
</script>